@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.news-assinar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.7;
}

.news-assinar form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-assinar input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

form button {
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #4d4d4d;
}

form button:hover {
    background-color: #0071bc;
}

h3 {
    font-family: "Sora", Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

p {
    font-family: "Source sans 3", Arial, Helvetica, sans-serif;
}

.news-assinado {
    display: none;
    text-align: center;   
}

/* Media query para telas com largura menor que 600px */
@media (max-width: 600px) {
    .news-assinar input {
        width: 80%;  /* Reduz a largura do campo de entrada para 80% da largura da janela de visualização */
    }
}